openapi: 3.0.3
info:
  title: SAAJ API
  description: Sample API
  version: 0.0.1
servers:
  - url: https://saaj.rodichub.com
    description: Rodic Hub
tags:
  - name: facilities
  - name: bed-availability
  - name: blood-bank
  - name: medicine-stock
  - name: devices
paths:
  /facilities:
    get:
      tags:
        - facilities
      description: Get All Facilities sorted by Distance from User's Location
      operationId: getAllFacilities
      parameters:
        - in: query
          name: user_lat
          schema:
            type: integer
          required: true
        - in: query
          name: user_long
          schema:
            type: integer
          required: true
        - in: query
          name: lang
          schema:
            type: string
          required: false
          description: Searches on the basis of language
        - in: query
          name: name
          schema:
            type: string
          required: false
          description: Searches on the basis of Name
        - in: query
          name: pincode
          schema:
            type: string
          required: false
          description: Searches on the basis of Name
        - in: query
          name: type
          schema:
            type: string
          required: false
          description: Searches on the basis of Type
        - in: query
          name: district
          schema:
            type: string
          required: false
          description: Searches on the basis of District
        - in: query
          name: block
          schema:
            type: string
          required: false
          description: Searches on the basis of Block
        - in: query
          name: system_of_medicine
          schema:
            type: string
          required: false
          description: Searches on the basis of System of Medicine
        - in: query
          name: has_pathology
          schema:
            type: boolean
          required: false
          description: If true, the request will return all facilities with Pathology
        - in: query
          name: has_radiology
          schema:
            type: boolean
          required: false
          description: If true, the request will return all facilities with Radiology
        - in: query
          name: offset
          schema:
            type: integer
            default: 0
        - in: query
          name: size
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      facility:
                        type: array
                        items:
                          $ref: '#/components/schemas/Facility'
              examples:
                En-facility:
                  $ref: '#/components/examples/EnFacilities'
                Hi-facility:
                  $ref: '#/components/examples/HiFacilities'
  /bed-availability:
    get:
      tags:
        - bed-availability
      summary: Get Bed Availability Details by HFR ID
      operationId: get
      parameters:
        - in: query
          name: hfr_id
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        hfr_id:
                          type: string
                          example: IN1010000003
                        ward_name:
                          type: string
                          example: Accident
                        total_bed:
                          type: integer
                          example: 10
                        empty_bed:
                          type: integer
                          example: 8
  /blood-bank:
    get:
      tags:
        - blood-bank
      summary: Get Blood bank details based on user's location
      parameters:
        - in: query
          name: user_lat
          schema:
            type: integer
          required: true
        - in: query
          name: user_long
          schema:
            type: integer
          required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BloodBank'
  /medicine-stock:
    get:
      tags:
        - medicine-stock
      summary: Get medicine stock on the basis of HFR ID
      parameters:
        - in: query
          name: hfr_id
          schema:
            type: string
          required: false
          description: Searches on the basis of HFR ID
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MedicineStock'
  /devices/register:
    post:
      tags:
        - devices
      summary: Register a Device for Push Notification using FCM Token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceRegistration'
      responses:
        '201':
          description: Success
  /admin/notification:
    post:
      tags:
        - notification
      summary: Send Notifications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Notification'
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Notification'
  /notification:
    get:
      tags:
        - notification
      summary: Get recent 10 notifications
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Notification'
              examples:
                Notifications:
                  $ref: '#/components/examples/Notifications'
components:
  schemas:
    Facility:
      type: object
      properties:
        en:
          type: object
          properties:
            name:
              type: string
              example: PHC Sikaria Jehanabad
            type:
              type: string
              example: PHC
            district:
              type: string
              example: Jehanabad
            block:
              type: string
              example: Jehanabad
            address:
              type: string
              example: Sikariya Main Campas Bank Ke Pas
        hi:
          type: object
          properties:
            name:
              type: string
              example: पीएचसी सिकरिया जहानाबाद
            type:
              type: string
              example: पीएचस
            district:
              type: string
              example: जहानाबाद
            block:
              type: string
              example: जहानाबाद
            address:
              type: string
              example: सिकरिया मेन कैम्पस बैंक के प
        pincode:
          type: integer
          example: 804408
        lat:
          type: integer
          example: 25.27
        long:
          type: integer
          example: 84.98
        hrf_id:
          type: string
          example: IN1010000003
        system_of_medicine:
          type: array
          items:
            type: string
          example:
            - Modern Medicine (Allopathy)
            - Ayurveda
    BloodBank:
      type: object
      properties:
        name:
          type: string
          example: Rotary TTK Blood Bank
        add:
          type: string
          example: Rotary TTK Blood Bank, Indian Red Cross Society, 26, Red Cross Road, Chennai
        type:
          type: string
          example: Govt.
        ph:
          type: string
          example: 06760-242020
        email:
          type: string
          example: bbtalcher@gmail.com
        available:
          type: object
          properties:
            A+Ve:
              type: integer
              example: 10
            A-Ve:
              type: integer
              example: 10
            B+Ve:
              type: integer
              example: 10
            B-Ve:
              type: integer
              example: 10
            AB+Ve:
              type: integer
              example: 10
            AB-Ve:
              type: integer
              example: 10
            O+Ve:
              type: integer
              example: 10
            O-Ve:
              type: integer
              example: 10
    MedicineStock:
      type: object
      properties:
        hrf_id:
          type: string
          example: IN1010000003
        drug_name:
          example: paracetamol
          type: string
        current_stock:
          type: integer
          example: 100
    DeviceRegistration:
      type: object
      properties:
        uuid:
          type: string
          example: 592a6b7c-bed3-4ddb-8f84-192f4820fe26
        token:
          type: string
          example: fcm_token_here
        platform:
          type: string
          enum:
            - android
            - ios
        metadata:
          type: object
          properties:
            version:
              type: string
              example: v1.0.2
            manufacturer:
              type: string
              example: Samsung
            model:
              type: string
              example: A52
    Notification:
      type: object
      properties:
        title:
          type: string
          example: 'Order #112 Received'
        message:
          type: string
          example: 'Your order #122 is successfully placed'
        icon:
          type: string
          example: https://example.com/icon.png
        image:
          type: string
          example: https://example.com/pizza.png
        deepLinkUrl:
          type: string
          example: https://example.com/orders
  examples:
    Notifications:
      value:
        data:
          - id: 1
            title: 'Order #112 Received'
            message: 'Your order #122 is successfully placed'
            icon: https://example.com/icon.png
            image: https://example.com/pizza.png
            deepLinkUrl: https://example.com/orders
    EnFacilities:
      value:
        data:
          - id: 1
            name: PHC Sikaria Jehanabad
            type: PHC
            district: Jehanabad
            block: Jehanabad
            hfr_id: IN1010000003
            address: Sikariya Main Campas Bank Ke Pas
            pincode: 804408
            lat: 25.27
            long: 84.98
            has_pathology: true
            has_radiology: true
            has_blood_bank: true
            system_of_medicine:
              - Modern Medicine(Allopathy)
        meta:
          size: 1
          offset: 0
          total: 1
    HiFacilities:
      value:
        data:
          - id: 1
            name: पीएचसी सिकरिया जहा
            type: पीएचस
            district: पीएचस
            block: जहानाब
            hfr_id: IN1010000003
            address: सिकरिया मेन कैम्पस
            pincode: 804408
            lat: 25.27
            long: 84.98
            has_pathology: true
            has_radiology: true
            has_blood_bank: true
            system_of_medicine:
              - आधुनिक चिकित्सा (एलोपैथी)
        meta:
          size: 1
          offset: 0
          total: 1
